name: Backend CI

on:
  push:
    branches: [main, dev, feature/*]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: florian
          POSTGRES_PASSWORD: admin
          POSTGRES_DB: sitevitrine
        ports:
          - 5432:5432
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installer Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Vérifier la connexion à PostgreSQL
        run: |
          PGPASSWORD=admin psql -h postgres -U florian -d sitevitrine -c "\dt"

      - name: Vérifier la connexion à Postgre, construire et tester l'application
        run: |
          until pg_isready -h postgres -p 5432; do
            echo "Attente de PostgreSQL..."
            sleep 2
          done
          echo "PostgreSQL est prêt !"
            cd backend
            ./mvnw clean install
            ./mvnw test